/* header.module.css */
.header__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem 0;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__img {
  width: 4rem;
}

.header__logo p {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
}

.header__nav__content {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.header__nav__content li {
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
}

.header__nav__content li a {
  text-decoration: none;
  color: inherit;
}

.header__nav__content li::after {
  content: '';
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.header__nav__content li[aria-selected="true"]::after,
.header__nav__content li:hover::after {
  width: 100%;
}


.nav__container {
  display: flex;
  justify-content: center;
}

